<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="lib/saltos/favicon.ico">

		<title>__TITLE__</title>

		<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="lib/dashboard/dashboard.css" rel="stylesheet">

		<link href="lib/pdfjs/pdf_viewer.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-6 col-lg-8 mr-0 px-3" href="javascript:void(0);">__TITLE__</a>
			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<input class="form-control form-control-dark w-100" type="text" placeholder="__SEARCH__" aria-label="__SEARCH__">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="javascript:void(0);">__SEARCH__</a>
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="accordion" id="accordionExample">
<!-- ROWROWROW -->
						<div class="card">
							<div class="card-header" id="__HEADING__">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left nav-link" type="button" data-toggle="collapse" data-target="#__COLLAPSE__" aria-expanded="true" aria-controls="__COLLAPSE__">
										__TITLE__
									</button>
								</h2>
							</div>
							<div id="__COLLAPSE__" class="collapse" aria-labelledby="__HEADING__" data-parent="#accordionExample">
								<div class="card-body">
									<ul class="nav flex-column">
<!-- ROWROWROW -->
										<li class="nav-item">
											<a class="nav-link" href="__LINK__">
												__TITLE__
											</a>
										</li>
<!-- ROWROWROW -->
									</ul>
								</div>
							</div>
						</div>
<!-- ROWROWROW -->
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-3">
					<div class="table-responsive">
						<table id="qwerty" class="table table-striped table-hover">
							<thead class="thead-dark">
								<tr>
									<th class="w-25">__TYPE__</th>
									<th class="w-25">__FILE__</th>
									<th class="w-25">__SIZE__</th>
									<th class="w-25">__PLAY__</th>
								</tr>
							</thead>
							<tbody>
<!-- ROWROWROW -->
								<tr>
									<td>__TYPE__</td>
									<td>__FILE__</td>
									<td>__SIZE__</td>
									<td>__PLAY__</td>
								</tr>
<!-- ROWROWROW -->
							</tbody>
						</table>
					</div>

					<div id="dialog"></div>
				</main>
			</div>
		</div>

		<script src="lib/jquery/jquery-3.5.1.slim.min.js"></script>
		<script src="lib/popper/popper.min.js"></script>
		<script src="lib/bootstrap/bootstrap.min.js"></script>
		<script src="lib/locutus/str_replace.js"></script>
		<script src="lib/cookie/jquery.cookie.min.js"></script>
		<script src="lib/pdfjs/pdf.min.js"></script>
		<script src="lib/pdfjs/pdf_viewer.min.js"></script>
		<script src="lib/dashboard/dashboard.js"></script>

	</body>

</html>
