<!doctype html>
<html lang="__LANG__">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="__AUTHOR__"/>
		<meta name="copyright" content="__AUTHOR__"/>
		<meta name="abstract" content="__TITLE__"/>
		<meta name="description" content="__DESCRIPTION__">
		<meta name="keywords" content="__KEYWORDS__"/>

		<link rel="icon" href="lib/saltos/favicon.ico">
		<link rel="shortcut icon" href="lib/saltos/favicon.png">
		<meta name="msapplication-TileColor" content="#5c9ccc">
		<meta name="msapplication-TileImage" content="lib/saltos/favicon.png">

		<title>__TITLE__</title>

		<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

		<link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="lib/dashboard/dashboard.css" rel="stylesheet">
		<link href="lib/pdfjs/pdf_viewer.min.css" rel="stylesheet">
	</head>
	<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand text-truncate" href="javascript:void(0);" id="titol">__TITLE__</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu">
		<span class="navbar-toggler-icon"></span>
	</button>

	<form class="form-inline ml-auto text-nowrap d-none d-md-block">
		<input class="form-control search" type="text" placeholder="__SEARCH__" aria-label="__SEARCH__">
		<a class="btn btn-outline-light search" href="javascript:void(0);">__SEARCH__</a>
		<a class="btn btn-outline-light text-nowrap" href="__REPO__">__ABOUT__</a>
		<a class="btn btn-outline-light" href="index.ca.html">CA</a>
		<a class="btn btn-outline-light" href="index.es.html">ES</a>
		<a class="btn btn-outline-light" href="index.en.html">EN</a>
	</form>
</nav>

		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="accordion d-none" id="menu">
						<div class="card rounded-0 d-md-none">
							<div class="card-header">
								<h2 class="mb-0">
									<form class="form-inline">
										<input class="form-control search w-100 my-1" type="text" placeholder="__SEARCH__" aria-label="__SEARCH__">
										<a class="btn btn-secondary search mr-1" href="javascript:void(0);">__SEARCH__</a>
										<a class="btn btn-secondary mr-1" href="__REPO__">__ABOUT__</a>
										<a class="btn btn-secondary mr-1" href="index.ca.html">CA</a>
										<a class="btn btn-secondary mr-1" href="index.es.html">ES</a>
										<a class="btn btn-secondary mr-1" href="index.en.html">EN</a>
									</form>
								</h2>
							</div>
						</div>
<!-- ROWROWROW -->
						<div class="card">
							<div class="card-header" id="__HEADING__">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left nav-link" type="button" data-toggle="collapse" data-target="#__COLLAPSE__" aria-expanded="true" aria-controls="__COLLAPSE__">
										__TITLE__
									</button>
								</h2>
							</div>
							<div id="__COLLAPSE__" class="collapse" aria-labelledby="__HEADING__" data-parent="#menu">
								<div class="card-body">
									<ul class="nav flex-column">
<!-- ROWROWROW -->
										<li class="nav-item">
											<a class="nav-link" href="__LINK__">
												__TITLE__
											</a>
										</li>
<!-- ROWROWROW -->
									</ul>
								</div>
							</div>
						</div>
<!-- ROWROWROW -->
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-3">

					<div class="my-3 p-3 bg-white rounded shadow-lg d-none" id="results">
						<h6 class="border-bottom border-gray pb-2 mb-0">__RESULTS__</h6>
<!-- ROWROWROW -->
						<div class="media text-muted pt-3">
							<div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
								__RESULT__
							</div>
						</div>
<!-- ROWROWROW -->
					</div>

					<div class="table-responsive">
						<table id="files" class="table table-striped table-hover d-none">
							<thead class="thead-dark">
								<tr>
									<th class="w-25 text-nowrap">__TYPE__</th>
									<th class="w-25 text-nowrap">__FILE__</th>
									<th class="w-25 text-nowrap">__SIZE__</th>
									<th class="w-25 text-nowrap">__PLAY__</th>
								</tr>
							</thead>
							<tbody>
<!-- ROWROWROW -->
								<tr>
									<td class="w-25 text-nowrap">__TYPE__</td>
									<td class="w-25 text-nowrap">__FILE__</td>
									<td class="w-25 text-nowrap">__SIZE__</td>
									<td class="w-25 text-nowrap">__PLAY__</td>
								</tr>
<!-- ROWROWROW -->
							</tbody>
						</table>
					</div>

					<div id="pdf"></div>
				</main>
			</div>
		</div>

		<script src="lib/jquery/jquery-3.5.1.min.js"></script>
		<script src="lib/popper/popper.min.js"></script>
		<script src="lib/bootstrap/bootstrap.min.js"></script>
		<script src="lib/locutus/str_replace.js"></script>
		<script src="lib/cookie/jquery.cookie.min.js"></script>
		<script src="lib/pdfjs/pdf.min.js"></script>
		<script src="lib/pdfjs/pdf_viewer.min.js"></script>
		<script src="lib/aristus/accent-fold.js"></script>
<!-- ROWROWROW -->
		<script src="lib/dashboard/dashboard.js"></script>

	</body>

</html>
