<!DOCTYPE html>
<html lang="__LANG__">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="__AUTHOR__"/>
		<meta name="copyright" content="__AUTHOR__"/>
		<meta name="abstract" content="__TITLE__"/>
		<meta name="description" content="__DESCRIPTION__">
		<meta name="keywords" content="__KEYWORDS__"/>

		<link rel="icon" href="lib/saltos/favicon.ico">
		<link rel="shortcut icon" href="lib/saltos/favicon.png">
		<meta name="msapplication-TileColor" content="#007bff">
		<meta name="msapplication-TileImage" content="lib/saltos/favicon.png">
		<meta name="theme-color" content="#007bff"/>

		<title>__TITLE__</title>

		<meta http-equiv = "refresh" content = "1; url = ../index.__LANG__.html#__HASH__" />
	</head>
	<body>

		<h1>__TITLE__</h1>
		<p>__DESCRIPTION__</p>
		<hr/>
		<a href="../index.__LANG__.html#__HASH__">../index.__LANG__.html#__HASH__</a>

<script>
window.location.href="../index.__LANG__.html#__HASH__";
</script>

	</body>

</html>
